* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage {
  object-fit: contain;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  display: none;
}


.app__signUp {
  display: flex;
  flex-direction: column;
}

@media (min-width:768px) {
  .app__postsRight {
    display: block;
    margin-left: 10px;
  }
}